# put into /etc/systemd/system/
[Unit]
Description=ws5000 weather logger
After=multi-user.target

[Service]
Type=simple
User=jeff
Group=jeff
Environment="PATH=/home/jeff/.rbenv/shims:/usr/bin:/bin"
WorkingDirectory=/home/jeff/Dropbox/workspace/repos/ws5000
ExecStart=/home/jeff/Dropbox/workspace/repos/ws5000/ws5000.rb
SyslogIdentifier=ws5000
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
